html, body {
	width: 100%;
	height: 100%;
}

#landing {
	height: 100vh;
	min-height: 100vh;
	width: 100%;
	position:relative;
	overflow: auto;
	background: url('../images/landing.jpg') no-repeat center center;
	background-size: cover;

	.vertical-center {
		@include vertical-center;
		top: 40% !important;
		width: 100%;
		overflow: hidden;
		> div {
			max-width: 75rem;
			display:block;
			margin: 0 auto;

			.brand {
				img {
					@include size(6rem);
					display:block;
					margin: 0 auto;
					margin-bottom: 4.5rem;
				}
				h1, h2 {
					font-size: 1.6rem;
					line-height: 1.6rem;
				}
				h1 {
					font-family: $heading-font;
					color: white;
					text-align:center;
					margin-top: 0;
					margin-bottom: 1.5rem;
				}
				h2 {
					font-family: $heading-italic;
					color: white;
					text-align:center;
					font-style: italic;
				}
			}
			.asset-wave {
				margin-top: 3.25rem;
				margin-bottom: 4rem;
			}
			h3 {
				font-family: $heading-font;
				text-align:center;
				color: white;
				font-size: 4.5rem;
				line-height: 6.2rem;
				margin: 0;
				@include media($mobile) {
					font-size: 2.2rem;
    				line-height: 3.2rem
				}
			}
		}
	}
}
section {
	width: 100%;
	height: 100%;
	position: relative;
	clear: both;
}
#concept {
	margin-top: 10.5rem;
	margin-bottom: 10.5rem;
	.square-grid {
		@include outer-container;
	}

	.square {
		&:first-child {
			> div {
				> div {
					display:inline-block;
					width: auto;
					@include media($desktop){
						padding-left: 5rem;
						padding-top: 5rem;
					}
					h3 {
						color: $black;
						margin-bottom: 5rem;
						margin-top: 0;
					}
					p:not(.numbr) {
						font-size: 1.4rem;
						color: $body;

					}
				}
			}
		}	
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			background-color:rgba(0, 0, 0, 0.6);

			// opacity: 0;
			// display:none;
			@include media($mobile){
				opacity: 1 !important;
				display:block !important;
				h4, p {
					@include transform(translateY(0) !important);
					opacity: 1 !important;
				}
			}

			> div {
				@include vertical-center;
			}

			h4 {
				color: white;
				font-size: 1.4rem;
				text-align: center;
				margin-top: 0;
			}
			p {
				color: white;
				font-size: 1.2rem;
				font-family: $heading-font;
				font-style: italic;
				text-align: center;
				max-width: 40%;
				display: block;
				margin: 0 auto;
				@include media($mobile){
					max-width: 70%;
				}
			}
		}
	}
}
#charte {
	width: 100%;
	background: url('../images/asset-charte.jpg') no-repeat center center;
	background-size: cover;
	border-bottom: 3px solid $red;
	padding: 5rem 0;
	> div {
		height: 100%;
		max-width: 90%;
		margin: 0 auto;
		@include media($mobile) {
			.asset-wave {
				display:none;
			}
		}
	}

	@include media($desktop) {
		height: 38.5rem;
		padding: 0;
		> div {
			@include outer-container;
		}
	}

	@include media($tablet){
		.asset-wave {
			left: 56%;
		}
	}
		
	.half {
		width: 50%;
		height: 100%;
		display: block;
		float: left;
		@include media($mobile) {
			width: 100%;
			float:none;
		}
		&:first-child {
			h3 {
				text-transform: uppercase;
				color: white;
				font-style: italic;
				font-size: 3.2rem;
				text-align: center;
				
				margin: 0;
				@include media($desktop) {
					@include vertical-center;
				}
			}
		}
		&:last-child {
			color: white;
			> div {
				padding: 5rem 0 0;
				@include media($desktop) {
					@include vertical-center;
					padding: 0 0 0 10rem;
				}
				p {
					font-size: 1.4rem;
					@include media($mobile) {
						font-size:1.2rem;
						text-align:center;
					}
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}
	}
}
#stylists {
	margin: 10rem 0;

	h3, p {
		width: 100%;
		text-align:center;
		@include media($mobile){
			width: 90%;
			margin: 2rem auto;
		}
	}
	h3 {
		margin-top: 0;
	}
	section.stylists {
		@include outer-container;
		margin-top: 12.5rem;

		.stylist {
			width: 25%;
			display:inline-block;
			vertical-align:top;
			padding: 5rem 3rem 0 4rem;
			float: left;
			min-height: 40rem;

			@include media($mobile){
				width: 100%;
				margin: 0 auto ;
				float:none;
			}
			@include media($tablet){
				width: 50%;
				min-height: 42rem;
			}

			
			.mask {
				max-width: 80%;
				margin-left: 10%;
				border-radius: 70px;
			    overflow: hidden;
				@include transform(rotate(40deg));
				.zoomer {
					@include transition(all 0.25s ease);
				}
				img {
					display:block; 
					max-width: 100%;
				    @include transform(rotate(-40deg));
				    border-radius: 70px;
				}
			}
			h4 {
				font-size: 1.75rem;
				margin-bottom: 0;
				text-align: center;
			}
			h5 {
				color: $red;
				font-style: italic;
				font-size: 1.4rem;
				margin-top: 0;
				text-align: center;
			}
			p {
				font-size:1.2rem;
				color: $body;
			}
			background-color: $odd;
			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(7),
			&:nth-child(10) {
				background-color: $even;
			}
		}
		div.recruit {
			background: $red;
			@include linear-gradient(#fe4b3e, #ff5a4e);
			width: 50%;
			float: left;
			min-height: 40rem;
			position: relative;
			@include media($mobile){
				width: 100%;
			}
			@include media($tablet){
				width: 100%;
			}

			> div {
				// @include vertical-center;
				position: absolute;
				top: 50%;
				left: 50%;
				@include transform(translate(-50%, -50%));

				> div {
					width: 19rem;
					margin: 0 auto;
				}
			}

			p {
				font-family: $heading-font;
				text-transform: uppercase;
				color: white;
				font-style: italic;
				font-size: 1.4rem;
				text-align: center;
				max-width: 17rem;
				margin: 0 auto;
			}

		}
	}
}
#gallery {
	height: 100vh;
	min-height: 100vh;
	overflow: hidden;

	.heading {
		position: absolute;
		z-index: 999;
		width: 65rem;
	    left: 50%;
	    margin-left: -32.5rem;

		background: rgba(0,0,0,0.45);
		text-align: center;
		padding: 7rem 0;
		h3 {
			color: white;
		}

		@include media($mobile){
			max-width: 100vw;
			left: 0;
			top: 0;
			right: 0;
			margin-left: 0;
		}
	}
			
			
	#slider {
		.outer-wrap {
			height: 100vh;
		}
		a.control_next,
		a.control_prev {
			display: block;
			@include size(3rem 4.5rem);
			position: absolute;
			z-index: 99;
		}
		a.control_next {
			background: url('../images/icon-arrow-right.png') no-repeat center center;
			background-size: 80%;
			top: 50%; margin-top: -2.25rem;
			right: 7.5rem;
			@include media($mobile) {
				right: 1rem;
			}
		}
		a.control_prev {
			background: url('../images/icon-arrow-left.png') no-repeat center center;
			background-size: 80%;
			top: 50%; margin-top: -2.25rem;
			left: 7.5rem;
			@include media($mobile) {
				left: 1rem;
			}
		}
		ul {
		    padding: 0;
		    margin-top: 0;
			// margin: 0 !important;
			li {
				// width: 100%;
				img {
					// width: 100vw;
					max-width: 100%;
				}
			}
		}
	}
}

#tarifs {
	margin: 10rem 0;
	@include outer-container;
	p.numbr, h3 {
		width: 100%;
		text-align: center;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 16rem;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	.cat-left {
		@include size(35% 35.5rem);
		background-color: black;
		box-sizing: border-box;
		padding-left: 7.25rem;
		padding-top: 8rem;
		display:inline-block;
		float: left;
		@include media($small) {
			width: 100%;
			padding-left: 3.25rem;
			padding-top: 4rem;
			height: 26.5rem;
		}
		ul {
			li {
				color: white;
				line-height: 4rem;
				font-family: $heading-font;
				font-size: 1.8rem;
				cursor: pointer;
				&.active {
					background:white;
					color: $red;
					padding-left: 1rem;
				}
				@include media(max-width 1025px) {
					font-size:1.4rem;
				}
			}
		}
	}
	.prices {

		p {
			margin-top: 4rem;
			font-family:$heading-font;
			@include media($small){
				font-size:1rem;
			}
			&:not(.italic) {
				opacity: .5;
				margin-top: 0;
				@include media($small){
				    max-width:88%;
				}
			}

		}
			
		> div.tab {
			border: 1px solid #b2b3b2;
			padding: 4.5rem;
			width: 60%;
			@include media($small) {
				width: 100%;
				float:none;
				margin: 5rem 0;
				padding: 2.5rem;
			}
			float: right;
			opacity: 0;
			display:none;
			&.is-open {
				opacity: 1;
				display:inline-block;
			}
			ul {
				margin: 0;
				li {
					
					&:first-child {
						p.italic {
							position: relative;
							margin-top: 0;
							&:before {
								content: "ch. courts";
								position: absolute;
								right: 7rem;
								@include media($small){
									content: "ch. courts/";
									right: 3rem;
								}
							}
							&:after {
								content: "ch. longs";
								position: absolute;
								right: 0rem;
								@include media($small){
									right: -1rem;
								}
							}
						}
					}
					span:nth-child(2) {
						float: right;
						@include media($small){
						    position: absolute;
    						right: 2rem;
						}
					}
					span:last-of-type {
						float: right;
						margin-right: 5rem;
						@include media($small) {
							position: absolute;
    						right: 3rem;
    						margin-right: 1rem;
						}
						@include media($tablet){
							margin-right: 4rem;
						}
					}
				}
			}
		}
	}
}

#map {
	position: relative;
	overflow: hidden;
	.heading {
		display: block;
		@include size(43rem 22rem);
		padding-left: 7.5rem;
		padding-top: 5.5rem;
		background-color: white;
		position: absolute;
		top: 9.5rem;
		left: 14.5rem;

		@include media($mobile){
			width: 100%;
			position: relative;
			left: 0;
			top: 0;
			padding: 2rem;
		}

		@include media($tablet){
			width: 100%;
			top: -3rem;
    		left: 0;
    		background-color: rgba(255,255,255,0.7);
    		z-index: 99;
		}

		@include media(min-width 900px max-width 1025px) {
			top:1.4rem !important;
		}

		h5 {
			font-size: 2.8rem;
			margin-top: 0;
			line-height: 4.1rem;
		}
	}
	> a {
		img {
			@include media($mobile){

			    max-width: none;
			    position: absolute;
			    height: 53rem;
			    opacity: .2;

			}
			@include media($tablet){
				@include transform(translateY(-11%));
			}
		}
	}
	.footer-infos {
		width: 100%;
		height: 18.75rem;
		background-color: rgba(255,255,255,0.9);
		position: absolute;
		bottom: 0;
		z-index: 999;
		@include media($mobile){
			position: static;
			height: auto;
		}
		> div {
			@include outer-container;
		}
		.third {
			width: 33%;
			float: left;
			text-align: center;
			position: relative;
			min-height: 14.2rem;
			@include media($mobile){
				width: 100%;
				float: none;
				&:last-child {
					margin-bottom: 3rem;
				}
			}

			p, a {
				font-family: $heading-font;
				font-style: italic;
				font-size: 1.8rem;
				color: $black;
				text-decoration: none;
				display: inline-block;

				margin: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}
			.asset-wave {
				position: absolute;
				top: 45%;
			}
			img {
				max-width: 3rem;
				margin-top: 2.5rem;
			}
			&:nth-child(2) {
				img {
					margin-top: 4rem;
				}
			}
		}
	}
}
footer {
	width: 100%;
	border-top: 1px solid #e5e5e5;
	height: 10rem;
	> div {
		@include outer-container;
	}
	p {
		font-size: 1.4rem;
		color: $body;
		font-family: $heading-font; 
		display: inline-block;
		vertical-align: middle;
		float: left;
		margin: 4rem 0 0 0;
	}
	.social {
		display: inline-block;
    	float: right;
    	margin-top: 4rem;
		ul {
			padding-left: 0;
			margin: 0;
			display:inline-block;
			list-style: none;
			li {
				@include size(1.4rem);
				box-sizing: content-box;
				display: inline-block;
				padding: 0 1rem;
				opacity: 0.3;
				a {
					display:block;
					@include size(100%);
					text-indent: -99999px;
					overflow: hidden;
				}
				&:first-child {
					padding-left: 0px;
					a {
						background: url('../images/icon-facebook.png')  no-repeat center center;
						background-size: .6rem;
					}
				}
				&:nth-child(2){
					a {
						background: url('../images/icon-twitter.png')  no-repeat center center;
						background-size: 1.4rem;
					}
				}
				&:last-child {
					padding-right: 0;
					a {
						background: url('../images/icon-instagram.png')  no-repeat center center;
						background-size: 1.4rem;
					}
				}
			}
		}
	}
}